.card {
  max-width: 500px;
  width: 100%;
  margin: 60px auto;
  border-radius: 20px;

  background: linear-gradient(
    135deg,
    rgba(14,36,51,1) 0%,
    rgba(139,87,199,1) 50%,
    rgba(237,83,83,1) 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 40px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
  color: white;
}

.card > h2 {

  margin-top: 15px;
}

.card p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.description {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

label {
  display: block;
}

input[type='text'] {
  width: 70%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

.btn {
  margin-top: 20px;
  border: none;
  padding: 12px;
  width: 70%;
  border-radius: 8px;
  background: #28a745;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody {
  background-color: rgba(255, 255, 255, 0.2);
}

.lowBmi {
  background-color: rgb(71, 178, 210);
}
.normalBmi {
  background-color: rgb(112, 223, 112);
}
.highBmi {
  background-color: rgb(244, 148, 30);
}
